

<h1>
  PianTiles
</h1>
<h3>
  - press F / G / K / L
</h3>

<button class="btn btn-secondary" (click)="start()">{{textBtn()}}</button>
<span  class="m-3">key pressed : <strong>{{keyPressed}}</strong> </span>

<span class="m-3">speed : <strong>{{speedDelay}}</strong> </span>

<div class="board" >

  <div class="column" [style.background]="columnOneLost" >
    <ng-container *ngFor="let item of tiles | filterColumn:filterOne">
      <div class="tile" [attr.tile]="item.id" [style.top.px]="item.top" [style.transition-duration.ms]="speed">
        {{item.id}}
      </div>
    </ng-container>
  </div>

  <div class="column" [style.background]="columnTwoLost">
    <ng-container *ngFor="let item of tiles| filterColumn:filterTwo">
      <div class="tile" [attr.tile]="item.id" [style.top.px]="item.top">
        {{item.id}}
      </div>
    </ng-container>
  </div>

  <div class="column" [style.background]="columnThreeLost">
    <ng-container *ngFor="let item of tiles| filterColumn:filterThree">
      <div class="tile" [attr.tile]="item.id" [style.top.px]="item.top">
        {{item.id}}
      </div>
    </ng-container>
  </div>

  <div class="column"  [style.background]="columnFourLost">
    <ng-container *ngFor="let item of tiles| filterColumn:filterFour">
      <div class="tile" [attr.tile]="item.id" [style.top.px]="item.top">
        {{item.id}}
      </div>
    </ng-container>
  </div>

</div>



<!--<div class="column">
  <div *ngIf="tiles.one.exist" [@tileOne]=tiles.one.state class="tile" [attr.tile]="1" (@tileOne.start)="animationStarted($event)"
       (@tileOne.done)="animationDone($event)"></div>
</div>-->
